---
import { IoLogoGithub } from 'react-icons/io5/index.js';
import { HOMEPAGE_URL } from '../config';
import DropdownMenu from './DropdownMenu';
import HeaderLink from './HeaderLink.astro';
import SignatureLogo from './signature';
import ThemeBtn from './ThemeToggleBtn';
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center gap-3 text-base">
			<HeaderLink href="/"><h2 class="flex gap-2 items-center font-semibold tracking-tighter font-mplus text-lg"><SignatureLogo classes="stroke-black dark:stroke-white" /> Hari Tran</h2></HeaderLink>
			<div class="items-center gap-6 hidden md:flex">
				<HeaderLink href={HOMEPAGE_URL}>About</HeaderLink>
				<HeaderLink href="https://github.com/withastro/astro" target="_blank"><IoLogoGithub />Source</HeaderLink>
			</div>
			<div class="flex-1">
			</div>
			<ThemeBtn client:visible />
			<DropdownMenu client:visible />
		</nav>
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
 